/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-12-2020, 0:40:44
    Author     : seiko
*/

div#fondo{ 
    background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
    background-repeat:no-repeat;
    background-size:auto; 
    padding:0;
    width: 100%;
    height: 100%;
    
}
div#color1{
    background: #ff9900;
    width: 100%;
    height: 100%;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  height: 100px;
  background-color: #dec597;
  color: white;
  text-align: center;
  clear: both;
}
.footer1 {
  width: 100%;
  height: 50px;
  background-color: #dec597;
  color: white;
  text-align: center;
  display: flex;
  

}

div#prop{
    background: #f4c36a;
}

.footclas{
    margin-top:75px;
    padding-right:58px;
    background-color: red;
}